.hidden {
    opacity: 0;
}

body {
    margin: 0;
    overflow: hidden;
    position: relative;
}

#container {
    position: absolute;
}

#popup{
    position: fixed;
    transition: opacity 0.3s ease;
    width: 100%;
    background-color: black;
    height: 5%;
    bottom: 0;
    color: #FFF; /* Text color */
    font-size: 2rem;
}