.hidden {
    opacity: 0;
}

body {
    margin: 0;
    overflow: hidden;
    position: relative;
    cursor: none;
}

#container {
    position: absolute;
}

#popup{
    position: fixed;
    transition: opacity 0.7s ease;
    width: 100%;
    background-color: red;
    height: 40px;
    bottom: 0;
    color: #FFF; /* Text color */
    font-size: 2rem;
}

#introduction{
    position: fixed;
    transition: opacity 0.7s ease;
    bottom: 20px;
    left: 20px;
    color: #FFF;
    font-size: 2rem;
}

#cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid black;
}

#projects, #about, #skills, #contact, #certs, #education{
    position: fixed;
    transition: opacity 0.7s ease;
    background: rgba(255, 255, 255, 0.25); /* Adjust alpha for transparency */
    backdrop-filter: blur(10px); /* Adjust the blur effect */
    height: 100vh;
    text-align: center;
    font-size: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*#projects p, #aboutme p, #skills p, #contact p, #certificates p, #education p{*/
/*}*/

#close{
    position: fixed;
    transition: opacity 0.7s ease;
    font-size: 3rem;
    top: 20px;
    left: 20px;
}